<ul class="gif-list">
  {{#if (is-empty @gifs) }}
    <br><li>No records found</li>
  {{else}}
    {{#each @gifs as |gif|}}
      <li>
        <Gif::Gif @gif={{gif}}/>
      </li>
    {{/each}}
  {{/if}}
</ul>