<div class="main-wrapper">
  <h1>SoapBox Frontend Developer Interview Take-Home Project</h1>
  <p>At SoapBox, we love Animated GIFs. So much so, we want to be able to quickly see the top gifs of the day. We’d like you to build us a page that returns the trending gifs on giphy.</p>
</div>